<div class="add-instruments-box">
	<h1>Add Instrument</h1>
	<div class="add-text">
		<%= form_for(@instruments) do |f| %>

		<h4>Image</h4>
		<%= f.attachment_field :image %>

		<h4>Instrument-name</h4>
		<%= f.text_field :instrument_name %>

		<h4>introduction</h4>
		<%= f.text_field :introduction %>

		<div class="add-box"><br>
			<%= f.submit 'Add',class: 'btn btn-primary btn-block' %>
			<% end %>
		</div>
	</div>
</div>